<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJ1SAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    <title>Sarah's Portfolio Website</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    integrity="sha256-46qynGAkLSFpVbEBog43gvNhfr0j+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">


</head>
<body>

    
    <header>
        <div class="logo">

        </div>
        <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>
        <nav class="nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.ejs">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.ejs#aboutme">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.ejs#accomplishments">My Accomplishments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.ejs#mywork" tabindex="-1" aria-disabled="true">My Work
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="portfolio.ejs" tabindex="-1" aria-disabled="true">My Portfolio
                    </a>
                </li>
            </ul>
        </nav>
            <header class="site-header">

        <h1 class="display-1">Sarah's Portfolio Website</h1>

        <div class="img-container">
            </header>
        </div>
</div>

    </header>

    <!-- Introduction -->
    <main>
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro">
            Hi, I am <strong>Sarah Villadoz</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">Full Stack Developer</p>
        <img src="img/navyjane.JPG" alt="Navy Jane" class="intro__img">

    </section>

    <!--My Services-->
    <section class="my-accomplishments" id="accomplishments">
        <h2 class="section__title section__title--accomplishments">My Accomplishments</h2>
        <div class="accomplishments"
            <div class="accomplish">
                <h3><strong>United States Navy</strong></h3>
                <p>Over 6 years of military experience with shipboard electrical distribution and Gas Turbine Systems 
                    maintenance, repair and operation; Precision calibration of all gages, switches and transmitters; 
                    Operational testing of electrical, mechanical, hydraulic, and pneumatic systems; Outstanding performance 
                    in leadership, including Maintenance Management and Supervisor assignments; Assists in identifying root 
                    causes of system malfunctions; Consistently engaged in systems inspections and troubleshooting. Over 3 
                    years of experience in industrial electrical system and instrumentation such as Temperature, Pressure, 
                    Level and Flow transmitters. Ten years of experience in problem solving/troubleshooting and calibration
                    of electrical and instrumentation equipment.</p>
            </div>

            <!--accomplishments-->

            <div class="accomplish">
                <h3><strong>Bachelor of Science degree in Computer and Electrical Engineering</strong></h3>
                <p>La Jolla, CA</p>
            </div>

            <!--accomplishments-->

            <div class="accomplish">
                <h3><strong>Full Stack Development Immersive Student</strong></h3>
                <p><center>San Diego, CA</center></p>
            </div>
        </div>

        <a href="index.ejs#work" class="btn">My Work</a>
    </section>


    <!--About Me-->

    <section class="about-me" id="aboutme">
        <h2 class="section__title section__title--about">Who I am</h2>
        <p class="section__subtitle section__subtitle--about">Computer and Electrical Engineer</p>

        <div class="about-me__body">
            <p>Over 6 years of military experience with shipboard electrical distribution and Gas Turbine Systems
                maintenance, repair and operation; Precision calibration of all gages, switches and transmitters;
                Operational testing of electrical, mechanical, hydraulic, and pneumatic systems; Outstanding performance
                in leadership, including Maintenance Management and Supervisor assignments; Assists in identifying root
                causes of system malfunctions; Consistently engaged in systems inspections and troubleshooting. Over 3
                years of experience in industrial electrical system and instrumentation such as Temperature, Pressure,
                Level and Flow transmitters. Ten years of experience in problem solving/troubleshooting and calibration
                of electrical and instrumentation equipment.</p>
            <p>Over 6 years of military experience with shipboard electrical distribution and Gas Turbine Systems
                maintenance, repair and operation; Precision calibration of all gages, switches and transmitters;
                Operational testing of electrical, mechanical, hydraulic, and pneumatic systems; Outstanding performance
                in leadership, including Maintenance Management and Supervisor assignments; Assists in identifying root
                causes of system malfunctions; Consistently engaged in systems inspections and troubleshooting. Over 3
                years of experience in industrial electrical system and instrumentation such as Temperature, Pressure,
                Level and Flow transmitters. Ten years of experience in problem solving/troubleshooting and calibration
                of electrical and instrumentation equipment.</p>

        </div>

        <img src="img/navyjane.JPG" alt="Navy Jane" class="about-me__img"
    </section>

    <!--My Work-->

    <section class="my-work" id="mywork">
        <h2 class="section__title section__title--work">My Work</h2>
        <p class="section__subtitle section__subtitle--work">A selection of my range of work</p>

        <div class="portfolio">
            <!--Portfolio Item 01-->
            <a href="#" class="portfolio__item">
                <img src="img/newmex.JPG" alt="portfolio image" class="portfolio__img"
            </a>

            <!--Portfolio Item 02-->
            <a href="#" class="portfolio__item">
                <img src="img/pilapil.JPEG" alt="portfolio image" class="portfolio__img"
            </a>

            <!--Portfolio Item 03-->
            <a href="#" class="portfolio__item">
                <img src="img/kerrypark1.JPG" alt="portfolio image" class="portfolio__img">
            </a>

            <!--Portfolio Item 04-->
            <a href="#" class="portfolio__item">
                <img src="img/orleans.jpg" alt="portfolio image" class="portfolio__img">
            </a>

            <!--Portfolio Item 05-->
            <a href="#" class="portfolio__item">
                <img src="img/orleans1.jpg" alt="portfolio image" class="portfolio__img">
            </a>

            <!--Portfolio Item 06-->
            <a href="#" class="portfolio__item">
                <img src="img/hhpdx.JPG" alt="portfolio image" class="portfolio__img">
            </a>

            <!--Portfolio Item 07-->
            <a href="#" class="portfolio__item">
                <img src="img/sunrisehi.JPG" alt="portfolio image" class="portfolio__img">
            </a>

            <!--Portfolio Item 08-->
            <a href="#" class="portfolio__item">
                <img src="img/pdxart.JPG" alt="portfolio image" class="portfolio__img">
            </a>
        </div>
    </section>



        <div class="container">
            <h1 class="mb-4">Blog Articles</h1>
            <a href="/articles/new" class="btn btn-success">New Article</a>

            <% articles.forEach(article => { %>
                <div class="card mt-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                      <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= article.description %></div>
                    <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                    <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              <% }) %>


    </main>
    <footer class="footer">
        <a href="mailto:srvilladoz@gmail.com" class="footer__link">srvilladoz@gmail.com</a>
        <ul class="social-list">
            <li class="social-list__item">
                <a class="social-list__link" href="https://www.facebook.com/">facebook</a></li>
            <li class="social-list__item">
                <a class="social-list__link" href="https://www.instagram.com/">instagram</a></li>
            <li class="social-list__item">
                <a class="social-list__link" href="https://www.linkedin.com/in/janevilladoz/">LinkedIn</a></li>
        </ul>
    </footer>


    <script src="/js/index.js"></script>
    <!--<script src="/views/articles/index.ejs"></script>-->




</body>
</html>